#div1 {
    font-size: 18px;
    padding: 20px;
    background-color: lightgrey;
}

#div2 {
    font-size: 24px;
    padding: 20px;
    background-color: lightyellow;
}

#div3 {
    font-size: 30px;
    padding: 20px;
    background-color: lightcoral;
}
